body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
}

.box1 {
  background-color: #4d4e4f;
  margin: 25% auto;
  margin-top: 50px;
  padding: 70px;
  padding-top: 0px;
  width: 420px;
}

.arrow {
  display: inline-block;
  text-align: right;
}


h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}

.content {
  box-sizing: border-box;
  line-height: 1px;
  text-indent: 30px;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  width: 380px;
}

.arrow-left {
}

.restaurant-list {
  padding-top: 70px;
  background-color: #dedede;
  box-sizing: border-box;
}
