/* *, *:before, *:after {
  box-sizing: border-box;
}
*/


body {
  background-color: #333333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  background-color: #333333;
  margin: 25% auto;
  margin-top: 50px;
  padding: 70px;
  padding-top: 0px;
  width: 420px;
}

.arrow {
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}


h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}

.content {
  box-sizing: border-box;
  display: inline-block;
  line-height: 1px;
  text-indent: 30px;
  }

.location {
  background-color: inherit;
  border-bottom-style: solid;
  border-width: thin;
  padding-bottom: 3%;
  padding-top: 3%;
}

.location:hover {
  background-color: #aaa;
}
a {
  hover
}


nav {
  background-color: black;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  width: 380px;
  height: 40px;
}


.arrow-left {
  padding-top: 11px
}

.restaurant-list {
  padding-top: 70px;
  background-color: #dedede;
  box-sizing: border-box;
}
